body {
  background: #e9eaec;
  color: #fad02c;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrap {
  display: flex;
  justify-content: center;
}

.btn {
  font-weight: 800;
  color: #333652;
  padding: 1rem;
  border: 0;
  background-color: #90adc6;
  border-radius: 0.5rem;
}
